@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import './layout.scss';
@import './layout_bloque.scss';
@import './layout_subbloque.scss';
@import './inicio.scss';
@import './acceso.scss';
@import './cuidador/acceso.scss';
@import './pediatra/acceso.scss';
@import './pediatra/insertar.scss';

html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

* {
    margin: 0;

    box-sizing: border-box;

    border-style: none;

    color: black;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

button {
    cursor: pointer;
}