.inicio {
    width: 100%;
    height: 100%;
    padding-left: 15vw;
    padding-right: 15vw;
    background-color: #fff4e4;

    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__izquierda {
        width: 50%;
        height: 100%;

        gap: 10px;
        display: flex;
        align-items: left;
        flex-direction: column;
        justify-content: center;

        button {
            padding: 15px;
            border: none;
            border-radius: 10px;
            background-color: orange;

            color: white;
            font-size: 25px;
            font-weight: bolder;
            transition: background-color 0.3s;
  
            &:hover {
              background-color: #cd904a;
            }
        }

        h1 {
            font-size: 60px;
            font-weight: bolder;
        }
    }

    &__derecha {
        width: 50%;
        height: 100%;
        bottom: 0;

        img {
            width: 100%;
            height: 100%;
        }
    }
}