.inicio {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 15vw;
    padding-right: 15vw;
    background-color: #fff4e4;

    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.inicio__izquierda {
    width: 50%;
    height: 100%;

    gap: 10px;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
}

.inicio__texto {
    margin: 0;
    font-size: 60px;
    font-weight: bolder;
}

.inicio__boton {
    background-color: orange;
    color: white;
    border: none;
    padding: 15px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

.inicio__derecha {
    width: 50%;
    height: 100%;
    bottom: 0;
}

.inicio__imagen {
    width: 100%;
    height: 100%;
}