.layout__subbloque {
    width: auto;
    height: auto;
    padding: 2.5vh;
    border-style: ridge;
    border-radius: 5px;
    background-color: white;

    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}