.layout {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.layout__header {
    width: 100%;
    height: 10%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    background-color: #ffdcb4;

    gap: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.layout__logo {
    height: 7.5vh;
}

.layout__titulo {
    font-size: 20px;
    font-weight: bolder;
}

.layout__breadcrumb {
    display: flex;
    align-items: center;
    padding-left: .5vw;
    width: 100%;
    height: 4%;
    font-size: 15px;
    font-weight: bolder;
    background-color: #f0b879;
}

.layout__pagina {
    width: 100%;
    height: 86%;
}