.tabla__controles {
    width: 80%;
    margin: auto;
  
    table {
      width: 100%;
      border-collapse: collapse;
    }
  
    th, td {
      border: 1px solid #ddd;
      padding: 12px;
      text-align: center;
    }
    
    .columna__fecha {
      width: 15%;
      text-align: center;
    }
  
    thead th {
      background-color: #ffdcb4;
      color: black;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  
    tbody tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  
    tbody tr:hover {
      background-color: #ddd;
    }
  }
  